################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CrudDapperGraphQL.UnitTests/bin/Debug/net6.0
/CrudDapperGraphQL.UnitTests/obj/Debug/net6.0/CrudDapperGraphQL.UnitTests.AssemblyInfo.cs
/CrudDapperGraphQL.UnitTests/obj/Debug/net6.0/CrudDapperGraphQL.UnitTests.AssemblyInfoInputs.cache
/CrudDapperGraphQL.UnitTests/obj/Debug/net6.0/CrudDapperGraphQL.UnitTests.csproj.AssemblyReference.cache
/CrudDapperGraphQL.UnitTests/obj/Debug/net6.0/CrudDapperGraphQL.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/CrudDapperGraphQL.UnitTests/obj/Debug/net6.0/CrudDapperGraphQL.UnitTests.assets.cache
/CrudDapperGraphQL.UnitTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CrudDapperGraphQL.UnitTests/obj/Debug/net6.0
/CrudDapperGraphQL.UnitTests/obj
/KeyGenerator/bin/Debug/net6.0
/KeyGenerator/obj/Debug/net6.0
/KeyGenerator/obj
/CrudDapperGraphQL/ReadMeAuthWorkVersion.txt
